.git
.vs
.vscode
**/bin
**/obj
**/node_modules
**/TestResults
**/*.user
**/*.suo
**/*.cache
**/*.pfx
**/Logs
**/log.txt
**/*.md
**/*.txt
**/*.csv
!NuGet.Config
!common.props
!OrderXChange.sln
!src/**
!modules/**
!angular/**
