<div class="container">
  <h1 class="text-center">{{ '::Privacy.Title' | abpLocalization }}</h1>

  <div class="section-1 my-5">
    <h2>{{ '::Privacy.Section1.Title' | abpLocalization }}</h2>
    <p [innerHTML]="'::Privacy.Section1.Intro' | abpLocalization"></p>

    <ul>
      <li>{{ '::Privacy.Section1.Bullet1' | abpLocalization }}</li>
      <li>{{ '::Privacy.Section1.Bullet2' | abpLocalization }}</li>
    </ul>

    <p [innerHTML]="'::Privacy.Section1.Questions' | abpLocalization"></p>
  </div>

  <div class="section-2 my-5">
    <h2>{{ '::Privacy.Section2.Title' | abpLocalization }}</h2>

    <p [innerHTML]="'::Privacy.Section2.Point1' | abpLocalization"></p>
    <p [innerHTML]="'::Privacy.Section2.Point2' | abpLocalization"></p>
    <p [innerHTML]="'::Privacy.Section2.Point3' | abpLocalization"></p>
    <p [innerHTML]="'::Privacy.Section2.Point4' | abpLocalization"></p>
    <p [innerHTML]="'::Privacy.Section2.Point5' | abpLocalization"></p>
  </div>

  <div class="section-3 my-5">
    <h2>{{ '::Privacy.Section3.Title' | abpLocalization }}</h2>

    <p></p>
    <h4>{{ '::Privacy.Section3.Subtitle' | abpLocalization }}</h4>

    <p>{{ '::Privacy.Section3.Body' | abpLocalization }}</p>
  </div>

  <div class="section-4 my-5">
    <h2>{{ '::Privacy.Section4.Title' | abpLocalization }}</h2>

    <p>{{ '::Privacy.Section4.Body' | abpLocalization }}</p>
  </div>

  <div class="section-5 my-5">
    <h2>{{ '::Privacy.Section5.Title' | abpLocalization }}</h2>

    <p>{{ '::Privacy.Section5.Body' | abpLocalization }}</p>
  </div>

  <div class="section-6 my-5">
    <h2>{{ '::Privacy.Section6.Title' | abpLocalization }}</h2>

    <p>{{ '::Privacy.Section6.Body' | abpLocalization }}</p>
  </div>

  <div class="section-7 my-5">
    <h2>{{ '::Privacy.Section7.Title' | abpLocalization }}</h2>

    <p>{{ '::Privacy.Section7.Body' | abpLocalization }}</p>
  </div>
</div>
